<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Itonomy\DatabaseLogger\Api\Data\EntityLogInterface"
                type="Itonomy\DatabaseLogger\Model\EntityLog"/>
    <preference for="Itonomy\DatabaseLogger\Api\EntityLogRepositoryInterface"
                type="Itonomy\DatabaseLogger\Model\EntityLogRepository"/>
    <preference for="Itonomy\DatabaseLogger\Api\Data\EntityLogSearchResultsInterface"
                type="Itonomy\DatabaseLogger\Model\EntityLogSearchResults"/>

    <type name="Itonomy\DatabaseLogger\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">database-logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Itonomy\DatabaseLogger\Model\Handler\DatabaseHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="itonomy_databaselogger_test_log" xsi:type="object">
                    Itonomy\DatabaseLogger\Console\Command\TestLog
                </item>
            </argument>
        </arguments>
    </type>
</config>
